@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Colors

$cyan      : hsl(179, 62%, 43%);
$light-cyan: hsl(179, 55%, 60%);
$yellow    : hsl(71, 73%, 54%);

$gray     : hsl(204, 43%, 93%);
$dark-gray: hsl(204, 43%, 80%);

body {
    font-size  : calc(16px + (26 - 16) * ((100vw - 500px) / (5000 - 500)));
    font-family: 'Karla', sans-serif;
    margin     : 0;
    padding    : 0;
    display    : grid;

    @media only screen and (min-width: 768px) {
        height               : 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows   : 1fr 1.2fr;
        grid-template-areas  : "header header"
            "price info";
    }
}

div {
    padding: 1.5em;

    @media only screen and (min-width: 768px) {
        padding: 3em;
    }
}

.one {
    background-color: white;

    .title {
        color: $cyan;
    }

    .subtitle {
        color: $yellow;
    }

    p {
        color      : $dark-gray;
        line-height: 1.5em;
    }

    @media only screen and (min-width: 768px) {
        grid-area: header;
    }
}

.two {
    background-color: $cyan;
    color           : white;

    p>span {
        font-size   : 2em;
        font-weight : 700;
        margin-right: 0.5em;
        color       : white;
    }

    p:first-of-type {
        color: $dark-gray;
    }

    p {
        display    : flex;
        align-items: center;
        color      : $gray;
    }


    button {
        color           : white;
        font-weight     : 700;
        background-color: $yellow;
        width           : 100%;
        height          : 3.5em;
        border          : none;
        border-radius   : 5px;

        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    }

    @media only screen and (min-width: 768px) {
        grid-area: price;
    }
}

.three {
    background-color: $light-cyan;
    color           : white;
    position        : relative;

    ul {
        font-size   : 0.9em;
        padding-left: 0;
        list-style  : none;
        color       : $gray;
    }

    p {
        padding: 0;
    }

    .attribution {
        position  : absolute;
        bottom    : 0;
        right     : 20px;
        font-size : 11px;
        text-align: center;
    }

    .attribution a {
        color: white;
    }

    @media only screen and (min-width: 768px) {
        grid-area: info;
    }
}